.clinics {
   width: 100%;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.clinic {
   width: 100%;
   height: fit-content;
   padding: 20px 15px;
   border: 1px solid #acacac;
   border-radius: 8px;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 10px;
}

.clinic .logo {
   height: 100%;
   height: 8vh;
   aspect-ratio: 1;
}

.clinic .logo img {
   height: 100%;
   aspect-ratio: 1;
   object-fit: cover;
   object-position: center;
}

.clinic .details .actions {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 10px;
}

.clinic .details .actions a {
   display: block;
   width: fit-content;
}