.download-app > div {
   text-align: center;
}

.download-app .button-download {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
}

.download-app .button-download button {
   width: 300px;
}